
<nav>
  <div class="container">
    <div class="logo"><a href="#">LOGO.</a></div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-menu">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      <li><a href="#">Inicio</a></li>
      <li><a href="#Porque">¿Porque Nosotros? </a></li>
      <li><a href="#">Niveles</a></li>
      <li><a href="#">Contactanos</a></li>
      <li><a href="#">Campus virtual</a></li>
      <div class="login">
        <a [routerLink]="['/login']">Ingresar</a>
      </div>
    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>



<!--
<nav>
  <div class="container">
    <div class="logo"><a href="#"><img src="#" alt="Logo de la empresa"></a></div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-menu">
      <li><a href="#">Inicio</a></li>
      <li><a href="#Porque">¿Porque Nosotros? </a></li>
      <li><a href="#">Niveles</a></li>
      <li><a href="#">Contactanos</a></li>
      <li><a href="#">Campus virtual</a></li>
      <div class="login">
        <a [routerLink]="['/login']">Ingresar</a>
      </div>
    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>
-->








